.MuiContainer-root {
  padding: 0;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.login-image {
  flex: 1;
  height: 100%;
  background-image: url('/landing_page.png');
  background-size: cover;
  background-position: center;
}

.login-form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.lock-icon {
  color: #9c27b0;
  font-size: 40px;
  margin-bottom: 20px;
}

.sign-in-text {
  font-size: 24px;
  margin-bottom: 30px;
}

.form-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sign-in-button {
  width: 100%;
  padding: 12px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.link {
  color: #1976d2;
  text-decoration: none;
} 

/* 响应式设置 */
@media screen and (max-width: 600px) {
  .login-image {
    display: none;  /* 在小屏幕上隐藏图片区域 */
  }
  
  .login-form-container {
    flex: 1;  /* 表单区域占满整个容器 */
    padding: 1rem;  /* 减小内边距 */
  }
}